@inherits LayoutComponentBase
<div id="kt_header_mobile" class="header-mobile align-items-center header-mobile-fixed">
    <!--begin::Logo-->
    <a href="/">
        <svg class="rounded mx-auto d-block" width="80" height="38" viewBox="0 0 135 38" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M101.754 8.61749C94.5387 8.61749 88.6524 15.4019 89.7082 22.5285C90.2714 26.3317 92.4784 28.3241 96.3293 28.5054C102.352 28.7907 106.536 26.0041 108.612 20.33C111.08 13.5456 108.225 8.64382 101.754 8.61749ZM101.956 22.3837C100.887 24.0995 98.6961 24.9772 97.0464 24.3277C95.0447 23.5335 95.0579 21.7562 95.3218 20.0842C95.6518 18.0085 96.0961 15.9153 97.5215 14.2477C98.7313 12.8435 100.262 12.3388 102.035 12.9312C103.716 13.5017 103.654 14.9762 103.667 16.8807C103.58 18.8339 102.991 20.7318 101.956 22.3925V22.3837Z" fill="white" />
            <path d="M130.544 28.5254C125.699 28.5254 123.747 26.3276 124.63 22.1679C126.04 15.5792 127.587 9.01266 129.052 2.4328C129.239 1.59642 129.366 0.82676 130.462 0.733334C131.891 0.608766 133.401 0.22172 134.666 1.02251C135.39 1.4674 134.734 2.41945 134.584 3.09123C133.288 8.95038 131.923 14.7917 130.594 20.642C130.139 22.5461 129.926 24.3301 132.892 24.121C133.802 24.0543 133.834 24.7572 133.715 25.3489C133.492 26.4388 133.897 27.8758 132.305 28.3029C131.726 28.4298 131.137 28.5043 130.544 28.5254Z" fill="white" />
            <path d="M118.23 28.5216C113.271 28.5216 111.295 26.3589 112.191 22.1936C113.629 15.5185 115.192 8.88784 116.741 2.24831C117.086 0.770882 118.901 0.232417 121.291 0.686326C123.24 1.05123 122.412 2.35511 122.21 3.28073C120.919 9.21714 119.558 15.1447 118.18 21.0811C117.766 22.8611 117.844 24.254 120.303 24.1338C121.034 24.0982 121.535 24.343 121.415 25.1351C121.24 26.3277 121.576 27.8052 119.977 28.3347C119.407 28.479 118.819 28.542 118.23 28.5216Z" fill="white" />
            <path d="M82.77 11.4711C84.7978 9.71074 86.4435 8.76016 88.4803 8.63254C89.8022 8.54452 90.4542 8.80858 90.1214 10.3401C89.7033 12.2544 89.3031 13.6231 86.6548 13.5307C83.8986 13.4382 82.4912 15.6034 81.8303 18.0063C81.0929 20.682 80.5623 23.4149 79.9508 26.1258C79.5327 27.9786 75.9491 29.2504 74.4204 28.0666C73.737 27.5341 74.1371 26.8255 74.2675 26.2358C75.432 20.9548 76.7 15.6739 77.8061 10.3929C78.1973 8.53572 79.5417 8.63254 80.8501 8.63254C82.3159 8.59293 83.368 9.10343 82.77 11.4711Z" fill="white" />
            <path d="M75.2764 9.23063C70.8583 17.5201 66.5286 25.8318 61.9735 34.019C60.1223 37.3455 56.0975 38.5596 52.5188 37.4656C51.8207 37.2521 51.4231 36.9275 51.7544 36.2293C52.2493 35.1842 52.0681 33.561 53.7603 33.4453C57.9751 33.1252 58.1254 33.0318 59.8263 28.7936C59.6054 28.3756 59.1901 28.4645 58.8764 28.5135C57.1534 28.7758 56.6276 28.0687 56.5304 26.3299C56.2506 21.2335 55.8427 16.1445 55.3066 11.0629C55.1255 9.31068 55.5143 8.53243 57.3124 8.73255C57.5289 8.75479 57.7542 8.73255 57.9751 8.73255C61.0678 8.73255 61.1429 8.73255 61.1783 11.8456C61.2313 16.1682 61.1783 20.4953 61.1783 24.8179L61.8719 24.9202C64.0279 20.6035 66.1825 16.2823 68.3356 11.9567C70.0498 8.52354 71.362 7.98098 75.2764 9.23063Z" fill="#309BB1" />
            <path d="M48.0655 9.32019C44.7664 8.16979 41.4147 8.56917 38.1682 9.5329C36.4968 10.0321 37.2382 11.5689 37.361 12.6976C37.5234 14.1909 38.5499 13.2533 39.1773 13.1708C40.8444 12.9494 42.5027 12.6368 44.1742 13.0405C45.2183 13.2967 45.8194 13.9305 45.7141 15.0678C45.5868 16.4223 44.591 15.8492 43.8846 15.8579C40.7698 15.897 37.7427 16.2443 35.3079 18.4626C33.3249 20.2642 32.5133 22.5867 33.2284 25.1393C33.9215 27.6224 36.1633 28.1216 38.4271 28.3517C39.2212 28.4342 40.024 28.4689 40.8268 28.5253C42.9441 28.4765 45.0494 28.197 47.1048 27.6918C47.64 27.5659 48.3068 27.5746 48.456 26.8236C49.3334 22.3045 50.9654 17.9156 51.0137 13.2533C51.0312 11.2607 49.8511 9.94097 48.0655 9.32019ZM41.2436 24.3796C40.0986 24.245 38.392 24.4273 38.335 22.3392C38.2823 20.4986 40.2346 19.1572 42.823 19.2093C43.4854 19.2093 44.5515 18.7752 44.6436 20.0515C44.8323 22.6735 43.5863 24.3492 41.2436 24.3796Z" fill="#309BB1" />
            <path d="M20.4553 19.8439C28.4019 19.6933 32.8602 15.801 33.5543 8.64084C33.888 5.1648 32.1305 2.59651 28.7534 1.6799C26.4353 1.04668 24.0638 1.13082 21.6923 1.19724C16.9047 1.33008 16.8603 1.30351 15.8636 5.98399C15.5566 7.40098 15.1072 8.08733 13.4387 7.97663C10.2554 7.72206 7.05327 8.10912 4.0238 9.11464C-0.198654 10.5538 -1.01734 12.8254 1.18955 16.7177C1.63449 16.8151 1.83917 16.6689 1.75463 16.1996C1.38978 13.4276 2.09724 12.1257 4.70457 11.0276C7.40979 9.88956 10.2752 9.60174 13.1584 9.60174H19.2629C18.9603 8.31316 18.7112 7.23714 18.373 5.73602L29.5321 12.5818C27.4676 12.5818 25.6389 12.5818 23.8102 12.5818C19.5121 12.5508 15.2006 12.4446 11.0405 13.7287C7.16952 14.9243 6.28853 17.528 8.58441 20.8358C9.30813 21.8578 10.1373 22.8017 11.0583 23.652C14.1728 26.5657 29.3007 34.1067 30.9069 34.1244C29.4475 33.4912 16.9359 26.9775 18.0038 21.7878C18.3286 20.2601 18.8847 19.8705 20.4553 19.8439ZM12.2329 22.266C9.016 19.1133 9.56328 16.3147 13.9103 14.4815C13.3319 17.1782 12.7935 19.6756 12.2329 22.266Z" fill="#309BB1" />
        </svg>
    </a>
    <!--end::Logo-->
    <!--begin::Toolbar-->
    <div class="d-flex align-items-center">
        <!--begin::Aside Mobile Toggle-->
        <button class="btn p-0 burger-icon burger-icon-left" id="kt_aside_mobile_toggle">
            <span></span>
        </button>
        <!--end::Aside Mobile Toggle-->
        <!--begin::Header Menu Mobile Toggle-->
        <button class="btn p-0 burger-icon ml-4" id="kt_header_mobile_toggle">
            <span></span>
        </button>
        <!--end::Header Menu Mobile Toggle-->
        <!--begin::Topbar Mobile Toggle-->
        <button class="btn btn-hover-text-primary p-0 ml-2" id="kt_header_mobile_topbar_toggle">
            <span class="svg-icon svg-icon-xl">
                <!--begin::Svg Icon | path:assets/media/svg/icons/General/User.svg-->
                <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px" viewBox="0 0 24 24" version="1.1">
                    <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                        <polygon points="0 0 24 0 24 24 0 24" />
                        <path d="M12,11 C9.790861,11 8,9.209139 8,7 C8,4.790861 9.790861,3 12,3 C14.209139,3 16,4.790861 16,7 C16,9.209139 14.209139,11 12,11 Z" fill="#000000" fill-rule="nonzero" opacity="0.3" />
                        <path d="M3.00065168,20.1992055 C3.38825852,15.4265159 7.26191235,13 11.9833413,13 C16.7712164,13 20.7048837,15.2931929 20.9979143,20.2 C21.0095879,20.3954741 20.9979143,21 20.2466999,21 C16.541124,21 11.0347247,21 3.72750223,21 C3.47671215,21 2.97953825,20.45918 3.00065168,20.1992055 Z" fill="#000000" fill-rule="nonzero" />
                    </g>
                </svg>
                <!--end::Svg Icon-->
            </span>
        </button>
        <!--end::Topbar Mobile Toggle-->
    </div>
    <!--end::Toolbar-->
</div>
<!--end::Header Mobile-->
<div class="d-flex flex-column flex-root">
    <!--begin::Page-->
    <div class="d-flex flex-row flex-column-fluid page">
        <!--begin::Aside-->
        <div class="aside aside-left aside-fixed d-flex flex-column flex-row-auto" id="kt_aside">
            <!--begin::Brand-->
         @*   <div class="top-row ps-3 bg-dark navbar navbar-dark" style="border-bottom:dashed; border-color:darkgray;">
                <div class="container-fluid">
                    <svg class="rounded mx-auto d-block" width="200" height="50" viewBox="0 0 135 38" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M101.754 8.61749C94.5387 8.61749 88.6524 15.4019 89.7082 22.5285C90.2714 26.3317 92.4784 28.3241 96.3293 28.5054C102.352 28.7907 106.536 26.0041 108.612 20.33C111.08 13.5456 108.225 8.64382 101.754 8.61749ZM101.956 22.3837C100.887 24.0995 98.6961 24.9772 97.0464 24.3277C95.0447 23.5335 95.0579 21.7562 95.3218 20.0842C95.6518 18.0085 96.0961 15.9153 97.5215 14.2477C98.7313 12.8435 100.262 12.3388 102.035 12.9312C103.716 13.5017 103.654 14.9762 103.667 16.8807C103.58 18.8339 102.991 20.7318 101.956 22.3925V22.3837Z" fill="white" />
                        <path d="M130.544 28.5254C125.699 28.5254 123.747 26.3276 124.63 22.1679C126.04 15.5792 127.587 9.01266 129.052 2.4328C129.239 1.59642 129.366 0.82676 130.462 0.733334C131.891 0.608766 133.401 0.22172 134.666 1.02251C135.39 1.4674 134.734 2.41945 134.584 3.09123C133.288 8.95038 131.923 14.7917 130.594 20.642C130.139 22.5461 129.926 24.3301 132.892 24.121C133.802 24.0543 133.834 24.7572 133.715 25.3489C133.492 26.4388 133.897 27.8758 132.305 28.3029C131.726 28.4298 131.137 28.5043 130.544 28.5254Z" fill="white" />
                        <path d="M118.23 28.5216C113.271 28.5216 111.295 26.3589 112.191 22.1936C113.629 15.5185 115.192 8.88784 116.741 2.24831C117.086 0.770882 118.901 0.232417 121.291 0.686326C123.24 1.05123 122.412 2.35511 122.21 3.28073C120.919 9.21714 119.558 15.1447 118.18 21.0811C117.766 22.8611 117.844 24.254 120.303 24.1338C121.034 24.0982 121.535 24.343 121.415 25.1351C121.24 26.3277 121.576 27.8052 119.977 28.3347C119.407 28.479 118.819 28.542 118.23 28.5216Z" fill="white" />
                        <path d="M82.77 11.4711C84.7978 9.71074 86.4435 8.76016 88.4803 8.63254C89.8022 8.54452 90.4542 8.80858 90.1214 10.3401C89.7033 12.2544 89.3031 13.6231 86.6548 13.5307C83.8986 13.4382 82.4912 15.6034 81.8303 18.0063C81.0929 20.682 80.5623 23.4149 79.9508 26.1258C79.5327 27.9786 75.9491 29.2504 74.4204 28.0666C73.737 27.5341 74.1371 26.8255 74.2675 26.2358C75.432 20.9548 76.7 15.6739 77.8061 10.3929C78.1973 8.53572 79.5417 8.63254 80.8501 8.63254C82.3159 8.59293 83.368 9.10343 82.77 11.4711Z" fill="white" />
                        <path d="M75.2764 9.23063C70.8583 17.5201 66.5286 25.8318 61.9735 34.019C60.1223 37.3455 56.0975 38.5596 52.5188 37.4656C51.8207 37.2521 51.4231 36.9275 51.7544 36.2293C52.2493 35.1842 52.0681 33.561 53.7603 33.4453C57.9751 33.1252 58.1254 33.0318 59.8263 28.7936C59.6054 28.3756 59.1901 28.4645 58.8764 28.5135C57.1534 28.7758 56.6276 28.0687 56.5304 26.3299C56.2506 21.2335 55.8427 16.1445 55.3066 11.0629C55.1255 9.31068 55.5143 8.53243 57.3124 8.73255C57.5289 8.75479 57.7542 8.73255 57.9751 8.73255C61.0678 8.73255 61.1429 8.73255 61.1783 11.8456C61.2313 16.1682 61.1783 20.4953 61.1783 24.8179L61.8719 24.9202C64.0279 20.6035 66.1825 16.2823 68.3356 11.9567C70.0498 8.52354 71.362 7.98098 75.2764 9.23063Z" fill="#309BB1" />
                        <path d="M48.0655 9.32019C44.7664 8.16979 41.4147 8.56917 38.1682 9.5329C36.4968 10.0321 37.2382 11.5689 37.361 12.6976C37.5234 14.1909 38.5499 13.2533 39.1773 13.1708C40.8444 12.9494 42.5027 12.6368 44.1742 13.0405C45.2183 13.2967 45.8194 13.9305 45.7141 15.0678C45.5868 16.4223 44.591 15.8492 43.8846 15.8579C40.7698 15.897 37.7427 16.2443 35.3079 18.4626C33.3249 20.2642 32.5133 22.5867 33.2284 25.1393C33.9215 27.6224 36.1633 28.1216 38.4271 28.3517C39.2212 28.4342 40.024 28.4689 40.8268 28.5253C42.9441 28.4765 45.0494 28.197 47.1048 27.6918C47.64 27.5659 48.3068 27.5746 48.456 26.8236C49.3334 22.3045 50.9654 17.9156 51.0137 13.2533C51.0312 11.2607 49.8511 9.94097 48.0655 9.32019ZM41.2436 24.3796C40.0986 24.245 38.392 24.4273 38.335 22.3392C38.2823 20.4986 40.2346 19.1572 42.823 19.2093C43.4854 19.2093 44.5515 18.7752 44.6436 20.0515C44.8323 22.6735 43.5863 24.3492 41.2436 24.3796Z" fill="#309BB1" />
                        <path d="M20.4553 19.8439C28.4019 19.6933 32.8602 15.801 33.5543 8.64084C33.888 5.1648 32.1305 2.59651 28.7534 1.6799C26.4353 1.04668 24.0638 1.13082 21.6923 1.19724C16.9047 1.33008 16.8603 1.30351 15.8636 5.98399C15.5566 7.40098 15.1072 8.08733 13.4387 7.97663C10.2554 7.72206 7.05327 8.10912 4.0238 9.11464C-0.198654 10.5538 -1.01734 12.8254 1.18955 16.7177C1.63449 16.8151 1.83917 16.6689 1.75463 16.1996C1.38978 13.4276 2.09724 12.1257 4.70457 11.0276C7.40979 9.88956 10.2752 9.60174 13.1584 9.60174H19.2629C18.9603 8.31316 18.7112 7.23714 18.373 5.73602L29.5321 12.5818C27.4676 12.5818 25.6389 12.5818 23.8102 12.5818C19.5121 12.5508 15.2006 12.4446 11.0405 13.7287C7.16952 14.9243 6.28853 17.528 8.58441 20.8358C9.30813 21.8578 10.1373 22.8017 11.0583 23.652C14.1728 26.5657 29.3007 34.1067 30.9069 34.1244C29.4475 33.4912 16.9359 26.9775 18.0038 21.7878C18.3286 20.2601 18.8847 19.8705 20.4553 19.8439ZM12.2329 22.266C9.016 19.1133 9.56328 16.3147 13.9103 14.4815C13.3319 17.1782 12.7935 19.6756 12.2329 22.266Z" fill="#309BB1" />
                    </svg>

                    <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
                    <span class="navbar-toggler-icon"></span>
                    </button
                </div>
            </div>*@

            <!--end::Brand-->
            <!--begin::Aside Menu-->
            <div class="aside-menu-wrapper flex-column-fluid" id="kt_aside_menu_wrapper">
                <!--begin::Menu Container-->
                <div id="kt_aside_menu" class="aside-menu my-4 text-white" data-menu-vertical="1" data-menu-scroll="1" data-menu-dropdown-timeout="500">
                    <!--begin::Menu Nav-->
                    <NavMenu />
                    <!--end::Menu Nav-->
                </div>
                <!--end::Menu Container-->
            </div>
            <!--end::Aside Menu-->
        </div>
        <!--end::Aside-->
        <!--begin::Wrapper-->
        <div class="d-flex flex-column flex-row-fluid wrapper" style="background-color:#F3F6F9;" id="kt_wrapper">

            <BarberApp_AdminPortal.Components.Header2 User=User Title="@Title"></BarberApp_AdminPortal.Components.Header2>
            <!--begin::Content-->
            <div class="content d-flex flex-column flex-column-fluid" id="kt_content">
                @if (Error != null)
                {
                }
                <CascadingValue Value="this">
                    @Body
                </CascadingValue>
                <!--end::Entry-->
            </div>

            <!--</div>-->
            <!--end::Footer-->
        </div>
        <!--end::Wrapper-->
    </div>
    <!--end::Page-->
</div>
<!--end::Main-->
<!-- begin::User Panel-->
<div id="kt_quick_user" class="offcanvas offcanvas-right p-10">
    <!--begin::Header-->
    <div class="offcanvas-header d-flex align-items-center justify-content-between pb-5">
        <h3 class="font-weight-bold m-0">
            User Profile
            <small class="text-muted font-size-sm ml-2">12 messages</small>
        </h3>
        <a href="#" class="btn btn-xs btn-icon btn-light btn-hover-primary" id="kt_quick_user_close">
            <i class="ki ki-close icon-xs text-muted"></i>
        </a>
    </div>
    <!--end::Header-->
    <!--begin::Content-->
    <div class="offcanvas-content pr-5 mr-n5">
        <!--begin::Header-->
        <div class="d-flex align-items-center mt-5">
            <div class="symbol symbol-100 mr-5">
                <div class="symbol-label" style="background-image:url('assets/media/users/300_21.jpg')"></div>
                <i class="symbol-badge bg-success"></i>
            </div>
            <div class="d-flex flex-column">
                <div class="text-muted mt-1">..</div>
                <div class="navi mt-2">
                    <a href="#" class="navi-item">
                        <span class="navi-link p-0 pb-2">
                            <span class="navi-icon mr-1">
                                <span class="svg-icon svg-icon-lg svg-icon-primary">
                                    <!--begin::Svg Icon | path:assets/media/svg/icons/Communication/Mail-notification.svg-->
                                    <!--end::Svg Icon-->
                                </span>
                            </span>
                            <span class="navi-text text-muted text-hover-primary">...</span>
                        </span>
                    </a>
                </div>
            </div>
        </div>
        <!--end::Header-->

    </div>
    <!--end::Content-->
</div>